.profile__info {
		/*color: #fff;
		margin: 0;
		display: grid;
		column-gap: 18px;
		grid-template-columns: 1fr auto;
		justify-items: flex-start;
		align-items: center;
	    grid-template-areas:
    "name edit-button"
    "about about";
		padding-bottom: 10px;*/
		color: #fff;
		display: grid;
		grid-template-columns: fit-content(80%) min-content;
		flex-grow: 1;
		column-gap: 18px;
		row-gap: 16px;
		position: relative;
}
