.profile__info {
		color: #fff;
		margin: 0;
		display: grid;
		column-gap: 18px;
		grid-template-columns: 1fr auto;
		grid-template-rows: 1fr auto;
		justify-items: flex-start;
		align-items: center;
	  grid-template:
    "name edit-button"
    "about about";
		padding-bottom: 10px;
		align-items: center;
}